# This is a systemd service file for the uGreen DABBoardRadio
# You can place it into /lib/systemd/system/
# to register a system service for the dabboard.
# this is useful for example to auto-start the radio after system boot.
# make sure to configure the station info below to a station in your region
#
# use
# sudo systemctl enable dabboard
# to enable the service at startup


[Unit]
Description=DABBoard Radio autostart script
After=network.target

[Service]
#ExecStartPre=/usr/local/sbin/radio_cli --boot=FIRMWARE
#ExecStart=/usr/local/sbin/radio_cli D -o 0 -f 20 -c 11 -e 57109 -p -l 50
ExecStart=/usr/local/sbin/simple-dab-radio.py
ExecStop=/usr/local/sbin/radio_cli -k
User=root
Type=simple
Restart=on-failure
TimeoutStopSec=120s

[Install]
WantedBy=multi-user.target
